doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Nashville Culture Crawl
    link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="css/main.css")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUCCYnWBq4pvo3r8hCvwQ9qmweAWzz3F8")
  body
    .container
      h1 hey guys
      #map-canvas
    script(src="lib/build.js")
    script(src="js/main.js")
