doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Nash Drinking Culture
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUCCYnWBq4pvo3r8hCvwQ9qmweAWzz3F8")
  body

    h1 Art and Drinking!

    <div id="map-canvas" style="width: 100%; height: 100%"></div>


  script(src='lib/build.js')
  script(src='js/main.js')